@font-face {
    font-family: "Ruda";
    src: local("Ruda"), url(fonts/Ruda-Regular.ttf) format("truetype");
}

@keyframes glideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
}

.root {
    width: 100%;
    font-family: Ruda;
    color: rgb(31, 31, 31);
    /*background-color: red;*/
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: rgb(236, 172, 77);*/
}

.intro-hello {
    transform: translateY(-100px);
    margin-bottom: 150px;
    font-size: 40px;
    font-weight: 200;
    animation: glideIn 1s ease forwards;
    /*background-color: green;*/
}

.intro-body {
    transform: translateY(-100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background-color: aquamarine;*/
}

.intro-tagline {
    width: 60%;
    font-size: 44px;
    font-weight: 100;
    animation: glideIn 1s ease forwards;
    /*background-color: yellow;*/
}

.intro-icon {
    transition: transform .2s ease-in;
}

.intro-icon:hover {
    transform: scaleX(-1);
}

.intro-icon img {
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /*background-color: cadetblue;*/
}

.projects-header {
    width: 40%;
    margin-top: 0px;
    padding-right: 50px;
    font-size: 25px;
    color: rgb(172, 35, 35);
}

.project-list {
    /*background-color: purple;*/
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 150px;
    /*background-color: yellowgreen;*/
}

.project img {
    width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: box-shadow .15s ease-in;
}

.project img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.project-info {
    padding-left: 40px;
}

.project-title {
    /*background-color: rgb(224, 120, 51);*/
}

.project-desc {
    color: rgb(80, 79, 79);
    text-align: left;
    /*background-color: pink;*/
}

.footer {
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 50px;
    /*background-color: aqua;*/
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /*background-color: orange;*/
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: green;*/
}

.social {
    padding: 20px 0 20px 20px;
    margin-left: 10px;
    color: rgb(172, 35, 35);
    transition: color .15s ease-in;
}

.social:hover {
    color: rgb(126, 19, 19);
}

@media only screen and (max-width: calc(1.2 * 1500px)) {
    .root {
        width: 85vw;
        /*background-color: rgb(81, 255, 0);*/
    }

    .projects-header {
        width: 20vw;
        margin-top: 0px;
        font-size: 25px;
        color: rgb(172, 35, 35);
    }

    .project img {
        width: 50vw;
        object-fit: cover;
    }

    .project-info {
        width: 100%;
    }
}

/* Mobile port */
@media only screen and (max-width: 1024px) {
    .root {
        /*background-color: rgb(209, 238, 103);*/
    }

    .intro-hello {
        display: flex;
        justify-content: center;
        transform: translateY(0);
        font-size: 32px;
    }

    .intro-body {
        flex-direction: column-reverse;
    }

    .intro-icon {
        display: flex;
        justify-content: center;
        /*background-color: red;*/
    }

    .intro-icon img {
        width: 25vh;
    }

    .intro-tagline {
        width: 100%;
        font-size: 24px;
        font-weight: 100;
    }

    .projects {
        flex-direction: column;
    }

    .projects-header {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .project {
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }

    .project img {
        width: 75vw;
        object-fit: cover;
    }

    .project-title {
        text-align: center;
    }

    .project-info {
        padding-left: 0px;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;      
    }

    .social {
        padding: 5px;
        font-size: 16px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 16px;
    }
}
